<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 表示命名空间
	  指定的是自己
 -->
<mapper namespace="xin.spring.news.mapper.CustomerMapper">
	<!-- 根据id查询 -->
	<select 
		id="findCustomerById"
		parameterType="integer"
		resultType="customer">
		SELECT 
			*
		FROM 
			customer
		<where>
			id=#{id}
		</where>	
	</select>
	
	<!-- 插入customer -->
	<insert 
		id="insertCustomer"
		parameterType="customer">
		INSERT INTO customer(username,jobs,phone) VALUES(#{username}, #{jobs}, #{phone});	
	</insert>
</mapper>