<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<!-- settings 配置mybatis的setting-->
	<settings>
		<!-- 打开延时加载开关 -->
		<setting name="lazyLoadingEnabled" value="true"/>
		<!-- 将积极加载改为延时加载，即按需加载 -->
		<setting name="aggressiveLazyLoading" value="false"/>
		<!-- 开启驼峰映射 ，为自定义的SQL语句服务-->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- 给java实体类bean取别名 -->
	<!-- 
		MyBatis给java bean取别名的方式有两种
		1、通过单一类进行匹配
		2、通过包扫描的方式进行匹配
	 -->
	<typeAliases>
		<!-- 1、使用单个类进行匹配 -->
		<!-- <typeAlias alias="customer" type="xin.spring.mybatis.entity.Customer"/> -->
		<!-- 2、使用包扫描的方式 -->
		<package name="xin.spring.news.entity"/>
	</typeAliases>
	<!-- 5、配置mapper位置 -->
	<!-- 
		mappers元素有两种配置方式
		1、使用mapper子元素配置指定的mapper.xml
		2、使用package元素配置指定的mapper.xml所在的包
		3、使用mapper指定本地文件路径引入
		4、使用接口类引入
		
		注意：使用包扫描和接口类引入的方式需要在同一目录下写一个与xml同名的接口，接口中方法与xml的id一样
	 -->
	<mappers>
		<package name="xin.spring.news.mapper"/>
	</mappers>
</configuration>